# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
  - linux
  - windows

julia:
  - 1.6
  
matrix:
  allow_failures:
  - julia: nightly
  
notifications:
  email: false
